@import url('instagram.css');
.followUsOn1 {
    position: absolute;
    top: 0px;
    left: 471px;
    line-height: 120%;
    font-weight: 600;
}
.instagramPostIcon {
    position: absolute;
    top: 70px;
    left: 30px;
    border-radius: var(--br-3xs);
    width: 160px;
    height: 200px;
    object-fit: cover;
}
.instagramPostIcon1 {
    position: absolute;
    top: 70px;
    left: 418px;
    border-radius: var(--br-3xs);
    width: 160px;
    height: 200px;
    object-fit: cover;
}
.instagramPostIcon2 {
    position: absolute;
    top: 70px;
    left: 612px;
    border-radius: var(--br-3xs);
    width: 160px;
    height: 200px;
    object-fit: cover;
}
.instagramPostIcon3 {
    position: absolute;
    top: 70px;
    left: 806px;
    border-radius: var(--br-3xs);
    width: 160px;
    height: 200px;
    object-fit: cover;
}
.instagramPostIcon4 {
    position: absolute;
    top: 70px;
    left: 1020px;
    border-radius: var(--br-3xs);
    width: 160px;
    height: 200px;
    object-fit: cover;
}
.instagramPostIcon5 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-3xs);
    width: 160px;
    height: 200px;
    object-fit: cover;
}
.icons1 {
    position: absolute;
    top: 84px;
    left: 84px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    object-fit: cover;
}
.instagramPost {
    position: absolute;
    top: 70px;
    left: 224px;
    width: 200px;
    height: 200px;
}
.followUsOnInstagram1 {
    position: relative;
    width: 88%;
    left: 40px;
    height: 350px;
    overflow: hidden;
    text-align: center;
    font-size: var(--heading-05-heading-05-600-size);
    color: var(--gray-scale-gray-900);
    font-family: var(--heading-05-heading-05-600);
}

