@import url('bottamFooter.css');
.allRightsReserved1 {
    position: relative;
    font-weight: 500;
    z-index: 0;
    top:38.33px;
    left:200px;
}
.socialmediaIconsChild {
    position: relative;
    width: 44px;
    height: 44px;
    object-fit: cover;
}
.socialmediaIcons {
    margin: 0 !important;
    position: absolute;
    top: 28.33px;
    left: 1009px;
    width: 237px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6px;
    box-sizing: border-box;
    z-index: 1;
}
.footerBottom {
    position: relative;
    width: 80%;
    height: 44.67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: var(--font-quicksand);
}

