@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  	margin: 0; line-height: normal;
    
}
:root {
  	
  	/* fonts */
  	--body-medium-body-medium-500: Poppins;
  	
  	/* font sizes */
  	--body-medium-body-medium-500-size: 16px;
  	--body-small-body-small-400-size: 14px;
  	--caps-lock-tiny-caps-lock-size: 10px;
  	--body-large-body-large-500-size: 18px;
  	--font-size-xl: 20px;
  	--body-tiny-body-tiny-400-size: 12px;
  	--body-xxl-body-xxl-500-size: 24px;
  	--heading-05-heading-05-600-size: 32px;
  	
  	/* Colors */
  	--gray-scale-white: #fff;
  	--gray-scale-gray-100: #e6e6e6;
  	--gray-scale-gray-900: #000;
  	--gray-scale-gray-700: #4d4d4d;
  	--branding-success-dark: #ff6316;
  	--gray-scale-gray-400: #ff0000;
  	--gray-scale-gray-500: #808080;
  	
  	/* Gaps */
  	--gap-7xs: 6px;
  	--gap-5xs: 8px;
  	--gap-9xs: 4px;
  	--gap-xs: 12px;
  	--gap-11xs: 2px;
  	
  	/* Paddings */
  	--padding-xs: 12px;
  	--padding-8xs: 5px;
  	--padding-5xl: 24px;
  	--padding-10xs: 3px;
  	--padding-5xs: 8px;
  	
  	/* Border radiuses */
  	--br-9xs: 4px;
  	--br-24xl: 43px;
  	
  	/* Effects */
  	--hover-shadow: 0px 0px 12px rgba(32, 181, 38, 0.32);
}