@import url('globalGroup.css');
.footerChild {
    height: 259px;
    z-index: 0;
}
.otherApps {
    position: relative;
    font-weight: 600;
}
.foodDelivery {
    position: relative;
    font-weight: 500;
}
.foodDeliveryParent {
    height: 125px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: var(--font-size-base);
}
.otherAppsParent {
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 763.72px;
    height: 191px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
}
.aboutUsParent {
    height: 160px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: var(--font-size-base);
}
.usefulLinksParent {
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 1013px;
    height: 226px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 2;
}
.traceworksTrademarkedLogo21 {
    position: absolute;
    margin: 0 !important;
    top: 39px;
    left: 82px;
    width: 304px;
    height: 77px;
    object-fit: cover;
    z-index: 3;
}
.footer {
    position: relative;
    width: 88%;
    height: 206.58px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-quicksand);
}

