.popularCategories {
    left: 10px;
    position: relative;
    line-height: 120%;
    font-weight: 600;
}
.viewAll {
    
    color:#FF6316;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.groupIcon1 {
    position: relative;
    width: 15px;
    height: 12.05px;
    object-fit: cover;
}
.button {
    border-radius: 43px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: var(--body-medium-body-medium-500-size);
    color: var(--branding-error);
}
.heading {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 88%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--heading-05-heading-05-600-size);
    color: var(--gray-scale-gray-900);
}
.imageIcon {
    position: relative;
    width: 254px;
    height: 230px;
    object-fit: cover;
}
.productImage {
    position: absolute;
    height: 73.39%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 26.61%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs);
    box-sizing: border-box;
}
.greenApple {
    position: relative;
    line-height: 150%;
    display: inline-block;
    width: 240px;
}
.div1 {
    position: relative;
    text-decoration: line-through;
    line-height: 150%;
    color: var(--gray-scale-gray-400);
}
.price {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xs);
    font-size: var(--body-medium-body-medium-500-size);
    color: var(--gray-scale-gray-900);
}
.info {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.ratingChild {
    position: relative;
    width: 12px;
    height: 12px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.rating {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.productInfo {
    position: absolute;
    height: 26.61%;
    width: 100%;
    top: 73.55%;
    right: 0%;
    bottom: -0.15%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-7xs);
}
.addToCart10 {
    position: absolute;
    height: 12.23%;
    width: 15.15%;
    top: 80.58%;
    right: 6.06%;
    bottom: 7.19%;
    left: 78.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.sale {
    background-color: #FF6316;
    border-radius: 10px;
    width: auto;
    height: auto;
    position: relative;
    line-height: 150%;
}
.tag {
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: var(--br-9xs);
    background-color: var(--branding-error);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-10xs) var(--padding-5xs);
    gap: var(--gap-9xs);
    color: var(--color-white);
}
.product5n {
    position: absolute;
    top: 59.5px;
    left: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.price1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--body-medium-body-medium-500-size);
    color: var(--gray-scale-gray-900);
}
.product5n1 {
    position: absolute;
    top: 59.5px;
    left: 289px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.product5n2 {
    position: absolute;
    top: 386.5px;
    left: 288.5px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.product5n3 {
    position: absolute;
    top: 386.5px;
    left: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.product5n4 {
    position: absolute;
    top: 386.5px;
    left: 590.5px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.product5n5 {
    position: absolute;
    top: 59.5px;
    left: 906.5px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.product5n6 {
    position: absolute;
    top: 386.5px;
    left: 905.5px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.product5n7 {
    position: absolute;
    top: 59.5px;
    left: 1055.5px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.product5n8 {
    position: absolute;
    top: 386.5px;
    left: 1055.5px;
    background-color: var(--color-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
}
.addToWishlist1 {
    position: absolute;
    height: 12.23%;
    width: 15.15%;
    top: 4.89%;
    right: 6.06%;
    bottom: 82.87%;
    left: 78.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.quickViewIcon1 {
    position: absolute;
    height: 12.23%;
    width: 15.15%;
    top: 18.96%;
    right: 6.06%;
    bottom: 68.81%;
    left: 78.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.product5n9 {
    position: absolute;
    top: 59.5px;
    left: 590.5px;
    background-color: var(--color-white);
    box-shadow: var(--hover-shadow);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 265px;
    height: 328px;
    color: var(--color-white);
}
.hotDeals {
    position: relative;
    background-color: #ffffff;
    width: 88%;
    height: 714px;
    left: 75px;
    border-radius: 10px;
    text-align: left;
    font-size: var(--body-small-body-small-400-size);
    color: var(--gray-scale-gray-700);
    font-family: var(--body-medium-body-medium-500);
}

