@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--heading-05-heading-05-600: Poppins;
  	
  	/* font sizes */
  	--heading-05-heading-05-600-size: 32px;
  	
  	/* Colors */
  	--gray-scale-gray-900: #000;
  	
  	/* Border radiuses */
  	--br-3xs: 10px;
  	
}