.container{
    width: 1120px;
    height: 620px;
    background-color: #fff;
    position: relative;
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image1 {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:400px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}
.image {
    display: inline-flex;
    width: 100px;
    height: 300px;
    padding: 16px 0px 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    left:100px;
    position: absolute;
    /* Adjust as needed */
}