@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--body-small-body-small-400: Poppins;
  	
  	/* font sizes */
  	--body-small-body-small-400-size: 14px;
  	--body-medium-body-medium-500-size: 16px;
  	--heading-05-heading-05-600-size: 32px;
  	
  	/* Colors */
  	--color-black: #000;
  	--gray-scale-gray-400: #ff0000;
  	--gray-scale-white: #fff;
  	
  	/* Gaps */
  	--gap-base: 16px;
  	--gap-12xs: 1px;
  	--gap-xs: 12px;
  	
  	/* Paddings */
  	--padding-5xl: 24px;
  	--padding-5xs: 8px;
  	
  	/* Border radiuses */
  	--br-5xs: 8px;
  	
}