@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--body-small-body-small-500: Poppins;
  	
  	/* font sizes */
  	--body-small-body-small-500-size: 14px;
  	
  	/* Colors */
  	--gray-scale-white: #fff;
  	
  	/* Gaps */
  	--gap-9xs: 4px;
  	
}