.main{
    position: relative;
    background-color: #fff;
    top:25px;
    width: 100%;
    height: 780px;
}
.heading {
    position: relative;
    font-size: var(--body-xxl-body-xxl-500-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--body-xxl-body-xxl-500);
    color: #fff;
    text-align: left;
    top:10px;
    left: 150px;
}
