@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--body-medium-body-medium-600: Poppins;
  	
  	/* font sizes */
  	--body-medium-body-medium-600-size: 16px;
  	--body-small-body-small-400-size: 14px;
  	--body-xl-body-xl-500-size: 20px;
  	
  	/* Colors */
  	--color-darkslategray: #2a2c38;
  	--color-dimgray: #535353;
  	--color-orangered: #ff6316;
  	--color-white: #fff;
  	--color-gray: #808080;
  	--color-darkgray: #b3b3b3;
  	
  	/* Gaps */
  	--gap-7xs: 6px;
  	
  	/* Paddings */
  	--padding-xs: 12px;
  	
  	/* Border radiuses */
  	--br-13xl: 32px;
  	
}