@import url('OrderPage.css');
.orderSummery2 {
    position: relative;
    font-size: var(--body-xl-body-xl-500-size);
    line-height: 150%;
    font-weight: 500;
}
.imageIcon {
    position: relative;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.greenCapsicum {
    position: relative;
    line-height: 150%;
}
.info {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-7xs);
}
.div {
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.product1 {
    width: 376px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.subtotal {
    background-color: var(--color-darkslategray);
    width: 376px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xs) 0px;
    box-sizing: border-box;
}
.totalChild {
    position: relative;
    border-top: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 377px;
    height: 1px;
}
.free {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    color: var(--color-white);
}
.div3 {
    position: relative;
    font-size: 18px;
    line-height: 120%;
    font-weight: 600;
    color: var(--color-white);
}
.total1 {
    background-color: var(--color-darkslategray);
    width: 376px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xs) 0px 0px;
    box-sizing: border-box;
    font-size: var(--body-medium-body-medium-600-size);
}
.total {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
    color: var(--color-darkgray);
}
.orderSummery1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.paymentMethod1 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 150%;
    font-weight: 500;
}
.normal3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: var(--br-13xl);
    background-color: var(--color-darkslategray);
    border: 1.5px solid var(--color-orangered);
    box-sizing: border-box;
}
.normal4 {
    position: absolute;
    height: 60%;
    width: 60%;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    border-radius: var(--br-13xl);
    background-color: var(--color-orangered);
}
.radio {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: var(--br-13xl);
    background-color: var(--color-darkslategray);
    border: 1.5px solid var(--color-orangered);
    box-sizing: border-box;
}
.hover1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: var(--br-13xl);
    background-color: var(--color-darkslategray);
    border: 1px solid var(--color-gray);
    box-sizing: border-box;
}
.amazonPay {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    color: var(--color-white);
}
.method {
    position: absolute;
    top: 46px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: var(--body-small-body-small-400-size);
    color: var(--color-darkgray);
}
.paymentMethod {
    position: relative;
    width: 173px;
    height: 129px;
    font-size: var(--body-xl-body-xl-500-size);
}
.normal6 {
    position: relative;
    line-height: 120%;
    font-weight: 600;
}
.button {
    border-radius: 43px;
    background-color: var(--color-orangered);
    width: 376px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 40px;
    box-sizing: border-box;
    font-size: var(--body-medium-body-medium-600-size);
}
.orderSummery {
    position: relative;
    border-radius: 8px;
    background-color: var(--color-darkslategray);
    border: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 32%;
    left: 900px;
    top: -680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    text-align: left;
    font-size: var(--body-small-body-small-400-size);
    color: var(--color-white);
    font-family: var(--body-medium-body-medium-600);
}

