@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--body-xl-body-xl-500: Poppins;
  	
  	/* font sizes */
  	--body-xl-body-xl-500-size: 20px;
  	--body-small-body-small-500-size: 14px;
  	--body-medium-body-medium-600-size: 16px;
  	
  	/* Colors */
  	--gray-scale-gray-900: #000;
  	--gray-scale-white: #fff;
  	--gray-scale-gray-700: #4d4d4d;
  	--branding-success: #ff6316;
  	--gray-scale-gray-100: #e6e6e6;
  	
  	/* Paddings */
  	--padding-xs: 12px;
  	
  	/* Effects */
  	--line-shadow: 0px 1px 0px #e5e5e5;
}