@import url('couponCode.css');
.couponCode1 {
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.enterCode {
    position: relative;
    line-height: 150%;
    display: inline-block;
    width: 483px;
    flex-shrink: 0;
}
.inputField {
    position: absolute;
    height: 100%;
    width: 79.49%;
    top: 0%;
    right: 20.51%;
    bottom: 0%;
    left: 0%;
    border-radius: 46px;
    background-color: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px 24px;
}
.applyCoupon {
    position: relative;
    line-height: 20px;
    font-weight: 600;
}
.button {
    position: absolute;
    height: 100%;
    width: 29.34%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 70.66%;
    border-radius: 43px;
    background-color: var(--gray-scale-gray-800);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 40px;
    box-sizing: border-box;
    color: var(--gray-scale-white);
}
.field {
    position: relative;
    width: 668px;
    height: 52px;
    font-size: var(--body-medium-body-medium-400-size);
    color: var(--gray-scale-gray-400);
}
.couponCode {
    position: relative;
    border-radius: 8px;
    background-color: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 50%;
    height: 70px;
    bottom: 180px;
    left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 24px;
    text-align: left;
    font-size: var(--body-xl-body-xl-500-size);
    color: var(--gray-scale-gray-900);
    font-family: var(--body-medium-body-medium-400);
}

