@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--body-small-body-small-600: Poppins;
  	
  	/* font sizes */
  	--body-small-body-small-600-size: 14px;
  	--body-medium-body-medium-400-size: 16px;
  	
  	/* Colors */
  	--gray-scale-gray-50: #f2f2f2;
  	--gray-scale-gray-700: #4d4d4d;
  	--gray-scale-white: #fff;
  	--gray-scale-gray-100: #e6e6e6;
  	--gray-scale-gray-900: #000;
  	--gray-scale-gray-500: #808080;
  	
  	/* Gaps */
  	--gap-xs: 12px;
  	
  	/* Paddings */
  	--padding-sm: 14px;
  	--padding-13xl: 32px;
  	--padding-5xs: 8px;
  	
  	/* Border radiuses */
  	--br-3xs: 10px;
  	--br-24xl: 43px;
  	--br-151xl: 170px;
  	
}