@import url('shooping.css');
.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 672px;
    height: 371px;
}
.devider2 {
    position: absolute;
    top: 293.5px;
    left: -0.5px;
    border-top: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 672px;
    height: 1px;
}
.devider3 {
    position: absolute;
    top: 169.5px;
    left: 0px;
    border-top: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 670px;
    height: 1px;
}
.product {
    position: absolute;
    top: 0px;
    left: 20px;
    letter-spacing: 0.03em;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 500;
}
.price {
    position: absolute;
    top: 0px;
    left: 245px;
    letter-spacing: 0.03em;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 500;
}
.subtotal {
    position: absolute;
    top: 0px;
    left: 493px;
    letter-spacing: 0.03em;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 500;
}
.quantity {
    position: absolute;
    top: 0px;
    left:347px;
    letter-spacing: 0.03em;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 500;
}
.headerChild {
    position: absolute;
    top: 29.5px;
    left: -0.5px;
    border-top: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 673px;
    height: 1px;
}
.header {
    position: absolute;
    top: 16px;
    left: 0px;
    width: 872px;
    height: 30px;
    color: var(--gray-scale-gray-500);
}
.imageIcon {
    position: relative;
    width: 70px;
    height: 100px;
    object-fit: cover;
}
.greenCapsicum {
    position: relative;
    line-height: 130%;
    font-size: 12px;
}
.product1 {
    position: absolute;
    top: calc(50% - 50.5px);
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
}
.price1 {
    position: absolute;
    top: calc(50% - 12.5px);
    left: 230px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.div1 {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    right: 200px;
}
.price2 {
    position: absolute;
    top: calc(50% - 12.5px);
    left: 683px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.closeIcon2 {
    position: absolute;
    top: calc(50% - 12.5px);
    right: 210px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: cover;
}
.container4 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-151xl);
    background-color: var(--gray-scale-gray-50);
    width: 34px;
    height: 34px;
}
.minusIcon2 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 14px;
    height: 14px;
    overflow: hidden;
    object-fit: cover;
}
.minus {
    position: relative;
    width: 34px;
    height: 34px;
}
.div2 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    width: 40px;
    flex-shrink: 0;
}
.quantity1 {
    position: absolute;
    top: 24.5px;
    left: 320px;
    border-radius: var(--br-151xl);
    background-color: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs);
    text-align: center;
}
.shopingCartProduct2 {
    position: absolute;
    top: 58px;
    left: 20px;
    border-radius: var(--br-3xs);
    width: 832px;
    height: 100px;
    font-size: var(--body-medium-body-medium-400-size);
}
.shopingCartProduct3 {
    position: absolute;
    top: 182px;
    left: 20px;
    border-radius: var(--br-3xs);
    width: 832px;
    height: 100px;
    font-size: var(--body-medium-body-medium-400-size);
}
.normal {
    position: relative;
    line-height: 120%;
    font-weight: 600;
}
.button {
    border-radius: var(--br-24xl);
    background-color: var(--gray-scale-gray-50);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm) var(--padding-13xl);
    right: 200px;
}
.cta {
    position: absolute;
    top: 310px;
    left: 20px;
    border-radius: var(--br-3xs);
    width: 612px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-scale-gray-700);
}
.shoppingCart {
    position: relative;
    width: 80%;
    height: 271px;
    left: 100px;
    text-align: left;
    font-size: var(--body-small-body-small-600-size);
    color: var(--gray-scale-gray-900);
    font-family: var(--body-small-body-small-600);
}

