@import url('global.css');
.home11Icon1 {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.groupIcon1 {
    position: relative;
    width: 4.08px;
    height: 8.17px;
    object-fit: contain;
}
.vegetables {
    position: relative;
    line-height: 150%;
}
.location {
    position: absolute;
    top: calc(50% - 12px);
    left: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.breadcrumbs {
    position: relative;
    width: 100%;
    height: 98px;
    top:95px;
    background-image: url('./images/Breadcrumbs1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--body-medium-body-medium-400-size);
    color: var(--branding-success);
    font-family: var(--body-medium-body-medium-400);
}

