@import url('global.css');
.mapPinIcon {
    position: relative;
    width: 31px;
    cursor: pointer;
    height: 31px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.address {
    border-radius: var(--br-3xs);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xl) 0px;
    gap: var(--gap-base);
    height: 160px;
}
.devider2 {
    position: relative;
    border-top: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    top:20px;
    width: 273px;
    height: 1px;
}
.proxygmailcom {
    margin: 0;
}
.proxygmailcomHelpproxygma {
    position: relative;
    line-height: 160%;
    font-size: 13px;
    display: inline-block;
    width: 262px;
}
.contactInfo {
    position: relative;
    border-radius: 8px;
    background-color: #000;
    box-shadow: 0px 0px 56px rgba(0, 38, 3, 0.08);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 23.5%;
    height: 500px;
    left: 180px;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 20px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

