@import url('global.css');
.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: var(--gray-scale-gray-900);
    box-shadow: 0px 0px 56px rgba(0, 38, 3, 0.08);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 640px;
    height: 507px;
}
.normal {
    position: relative;
    line-height: 120%;
    font-weight: 600;
}
.button {
    position: absolute;
    top: 406px;
    left: 50px;
    cursor: pointer;
    border-radius: 43px;
    background-color: var(--branding-success);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 40px;
    color: var(--color-white);
}
.subjects {
    position: absolute;
    top: 14px;
    left: 16px;
    line-height: 130%;
}
.inputField {
    position: absolute;
    top: 284px;
    left: 50px;
    border-radius: var(--br-7xs);
    background-color: var(--color-darkgray);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 544px;
    height: 98px;
}
.inputField1 {
    position: absolute;
    top: 219px;
    left: 50px;
    border-radius: var(--br-7xs);
    background-color: var(--color-darkgray);
    border: 1px solid var(--gray-scale-gray-900);
    box-sizing: border-box;
    width: 540px;
    height: 49px;
}
.inputField2 {
    position: absolute;
    top: 154px;
    left: 330px;
    border-radius: var(--br-7xs);
    background-color: var(--color-darkgray);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 260px;
    height: 49px;
}
.inputField3 {
    position: absolute;
    top: 154px;
    left: 50px;
    border-radius: var(--br-7xs);
    background-color: var(--color-darkgray);
    border: 1px solid var(--gray-scale-gray-100);
    box-sizing: border-box;
    width: 260px;
    height: 49px;
}
.doYouFancy1 {
    position: absolute;
    top: 88px;
    left: 50px;
    font-size: var(--body-small-body-small-400-size);
    line-height: 150%;
    color: #e5e5e5;
    display: inline-block;
    width: 486px;
}
.justSayHello3 {
    position: absolute;
    top: 44px;
    left: 50px;
    font-size: var(--body-xxl-body-xxl-600-size);
    line-height: 150%;
    font-weight: 600;
    color: var(--color-white);
}
.justSayHello2 {
    position: relative;
    width: 100%;
    height: 507px;
    left: 540px;
    top:-380px;
    text-align: left;
    font-size: var(--body-medium-body-medium-600-size);
    color: var(--gray-scale-gray-900);
    font-family: var(--body-xxl-body-xxl-600);
}

